
@{
    Layout = null;
}

<!DOCTYPE html>

<h3>Kategoriler</h3>
<br />
<table>
    <tr>
        <th>Kategori Id</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Durumu</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Spor</td>
        <td>Burası açıklama</td>
        <td>True</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Edebiyat</td>
        <td>Burası açıklama</td>
        <td>True</td>
    </tr>
</table>

